body {
    font-weight: 500;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: var(--branco);
    height: 100vh;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.container .card {
    display: flex;
    flex-direction: row;
}

.container .card .container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 30px;
    height: 400px;
    width: 300px;
    border-radius: 25px;
    background-image: linear-gradient(hsl(252, 100%, 67%), 40%, hsl(241, 81%, 54%) 90%);
}

.container .card .container-principal .texto {
    color: var( --paleo-azul);
    font-size: 18px;
    margin: 15px;
    padding: 10px;
    
}

.container .card .container-principal .conteudo-central {
    display: flex;
    flex-direction: column;
    padding: 50px 60px 50px 60px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), 60%,  hsla(241, 72%, 46%, 0) 90%);
}

.container .card .container-principal .conteudo-central .logo-central {
    font-size: 50px;
    font-weight: 800;
    color:var(--paleo-azul);
}

.container .card .container-principal .conteudo-central .logo-secundaria {
    color: var(--luz--lavande);
    opacity: calc(0.5);
}

.container .card .container-principal  .conteudo-texto {
    color: var(--paleo-azul);
    font-size: 20px;
    margin-top: 10px;
    padding: 4px;
}


.container .card .container-principal .conteudo-frase {
    color: var(--luz--lavande);
    opacity: calc(1);
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-size: var(--fonte-padrao);
}

.container .card .container-info {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    padding: 30px;
    background-color: var(--paleo-branco);
    border-radius: 25px;
    box-shadow: 0.4em  0.4em 1em  -0.2em hsl(241, 100%, 89%);
    height: 400px;
}

.container .card .container-info .texto-secundario {
    font-size: 15px;
    margin-bottom: 20px;
    margin: 0px 20px 0px;
    color: var(--escuro-cinza-azul);
}

.container .card .container-info .lista li div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 15px;
}

.container .card .container-info .lista li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 15px 0px 0px 15px;
    border-radius: 10px;
}


.container .card .container-info .lista .lista-vermelho {
    background-color: var(--Light-red-bg);
    color: var(--luz-red);
  
}

.container .card .container-info .lista .lista-amarelo {
    background-color: var(--Orangey-yellow-bg);
    color: var(--laranja-amarelo);
}

.container .card .container-info .lista .lista-verde {
    background-color: var(--Green-teal-bg);
    color: var(--verde-vivo);
}

.container .card .container-info .lista .lista-azul {
    background-color: var(--Cobalt-blue-bg);
    color: var(--violeta-azul);
}

.container .card .container-info .btn {
    border: none;
    background-color: none;
    background-color: #000;
    font-size: 12px;
    color: #ffff;
    padding: 10px;
    width: 200px;
    border-radius: 25px;
    transition: 0.2s ease-in-out;  
    margin: auto 0px 10px 30px;
}

.container .card .container-info .btn:hover {
    transform: scale(1.1);
    color: #ffff;
    background-image: linear-gradient(hsl(252, 100%, 67%), 40%, hsl(241, 81%, 54%) 90%);
}




 .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} 
