:root {
    --paleo-branco : hsl(0, 0%, 100%);
    --paleo-azul : hsl(221, 100%, 96%);
    --luz--lavande: hsl(241, 100%, 89%);
    --azul-persia:  hsla(241, 72%, 46%, 0);
    --luz-red: hsl(0, 100%, 67%);
    --laranja-amarelo: hsl(39, 100%, 56%);
    --verde-vivo : hsl(166, 100%, 37%);
    --violeta-azul: hsl(234, 85%, 45%);
    --fonte-padrao: 15px;
    
    --Light-red:hsl(0, 100%, 67%);
    --Light-red-bg:hsl(0, 100%, 67%, 0.05);
    --Orangey-yellow:hsl(39, 100%, 56%);
    --Orangey-yellow-bg:hsl(39, 100%, 56%, 0.05);
    --Green-teal:hsl(166, 100%, 37%);
    --Green-teal-bg:hsl(166, 100%, 37%, 0.05);
    --Cobalt-blue:hsl(234, 85%, 45%);
    --Cobalt-blue-bg:hsl(234, 85%, 45%, 0.05);
}